.header {
  height: 5rem;
  background-color: #212529;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-icon {
  color: #15aabf;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}
.link {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.link:hover,
.link:active {
  color: #0c8599;
}
